// Colors
$page-background-color: #F2F6F7; // ? Try #E1E3F3;
$tile-background-color: #ffffff;
$primary-color: #FB9262;
$accent-color: #FB9262;
$line-color: rgba(0, 0, 0, 0.05);
$faded-text-color: #999FAB;

// Dimensions
$base-offset: 8px;
$max-tile-width: 480px;
$min-tile-width: 280px;
$search-bar-height: 48px;

// Other
$block-radius: 8px;